.textarea {
  min-width: 320px;
  min-height: 150px;
  border: 2px solid #fff;
  outline: none;
  padding: 8px 5px;
  border-radius: 6px;
  background-color: #f7ebeb;
  resize: none;
}

.textarea:focus {
  border: 2px solid blue;
}
